<div style="float:left;">
  <button class="button">eventToHappen</button>
</div>
<div style="float:left;">
  <button class="button">eventHappened</button>
</div>
<nav class="navbar" role="navigation" aria-label="dropdown navigation" style="float:right;">
  <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
      Information
    </a>

    <div class="navbar-dropdown">
      <a class="navbar-item">
        Name
      </a>
      <a class="navbar-item">
        Logout
      </a>
    </div>
  </div>
</nav>
<div style="float:right;">
  <button class="button">modal</button>
</div>